.qbox{
    background-color: whitesmoke;
    border:solid black;
    border-radius:6px;
    padding:10px;
    padding-left:20px;
    margin:auto;
    justify-content: left;
    display:flex;
    box-sizing:border-box;
    max-width:500px;
    min-width: fit-content;
    max-height:200px;
    min-height: auto;
}

.qrow{
    padding:10px;
}

.button{
    margin:auto;
    width: 60%;
    color:black;
    background-color: rgb(190, 201, 211);
    border: solid 1px black;
    border-radius:0px;
    display:flex;
    justify-content: center;
}
.button:disabled{
    color:gray;
    background-color: aliceblue;
    border: solid 1px black;

}

.button:focus,
.button:active,
.button:focus:active {
    background-color: aliceblue;
    color: black;
    box-shadow: none;
    transition: none;
    border: solid 1px black;
}