.qbox{
    background-color: whitesmoke;
    border:solid black;
    border-radius:6px;
    padding:10px;
    padding-left:20px;
    margin:auto;
    justify-content: left;
    display:flex;
    box-sizing:border-box;
    max-width:500px;
    max-height:200px;
}

.qrow{
    padding:10px;
}