.DetailedPage{
    background-image: url('/src/assets/background.svg');
    background-size: cover;
    height:auto;
    flex:1;
}
#text{
    resize:none;
    margin-top:auto;
}

#detailedbox{
    background-color: whitesmoke;
    border:solid black;
    border-radius:6px;
    padding:20px;
    margin:auto;
    justify-content: left;
    display:flex;
    flex-direction: column;
    flex-grow: 1;
    box-sizing:border-box;
    max-width:500px;
    height: 100%;
}

@media (max-width: 768px) {
    #detailedbox{
        width: 90%;
        margin: auto;
        padding: 10px;
    }
}