.button-container {
    border: 1px solid black;
    width: 60%;
    height: 100%;
    padding: 4%;
    margin: auto;
    display: flex;
    flex-direction: column;
    flex-grow: 1;
    background-color: whitesmoke;
    box-shadow: 0px 2px 4px black;
    align-items: center;
}

.button {
    width: 90%;
    color:black;
    background-color: rgb(190, 201, 211);
    border: solid 1px black;
    border-radius:0px;
    margin-top: auto;
}

.button:hover{
    color:black;
    background-color: rgb(221, 226, 231);
    border: solid 1px black;
    box-shadow: 0px 2px 3px black;
}
.row{
    margin:0;
}
.row-container {
    padding-top: 5%;
    padding-bottom: 8%;
}

.footer {
    position: absolute;
    bottom: 0;
    width: 100%
}

.api-input {
    width: 20%;
    margin: auto;
}

#header{
    color:black;
    font-size: 600%;
    padding-top: 3%;
}