.button-container {
    border: 1px solid black;
    width: 60%;
    height: 100%;
    padding: 20px;
    margin: auto;
    display: flex;
    flex-direction: column;
}

.button-container p {
    flex-grow: 1;
}

.button {
    width: 90%;
    margin-top: auto;
    margin: auto;
}

.row-container {
    padding-top: 5%;
    padding-bottom: 8%;
}

.footer {
    position: absolute;
    bottom: 0;
    width: 100%
}

.api-input {
    width: 20%;
    margin: auto;
}